<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.melove.demo.design">


    <!-- 项目权限配置 -->
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--唤醒锁屏-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问精确定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 修改音频设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- 允许读写系统设置项 使用设置时需要 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!--读取用户字典-->
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>


    <application
        android:name=".application.MLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ml_app_name"
        android:supportsRtl="true"
        android:theme="@style/MLTheme.Default">

        <!-- 主界面 -->
        <activity
            android:name=".application.MLMainActivity"
            android:label="@string/ml_app_name"
            android:theme="@style/MLTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 图片剪切界面 -->
        <activity android:name=".clipphoto.MLClipPhotoActivity"/>
        RecyclerView 界面
        <activity android:name=".recycler.MLRecycerActivity"/>
        <!-- 测试 ContentProvider 界面 -->
        <activity
            android:name=".contentprovider.MLCPActivity"
            android:theme="@style/MLTheme.Default"/>
        <!-- ContetnProvider的提供者 -->
        <provider
            android:name=".contentprovider.MLContentProvider"
            android:authorities="net.melove.demo.design.contentprovider"/>

        <!-- 测试文件相关界面 -->
        <activity android:name=".file.MLFileActivity"/>

        <!-- 解析HTML界面 -->
        <activity android:name=".parsehtml.MLParseEmojiActivity"/>
        <activity android:name=".parsehtml.MLParseHtmlActivity"/>

        <!-- 搜索界面 -->
        <activity
            android:name=".search.MLSearchActivity"
            android:exported="false"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <!-- 测试播放音效界面 -->
        <activity android:name=".sound.MLSoundActivity"/>

        <!-- 测试主题界面 -->
        <activity android:name=".test.MLTestThemeActivity"/>
        <activity android:name=".waveform.MLWaveformActivity"/>

        <!--Firebase token 更新处理服务-->
        <service android:name=".firebase.MLFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!--Firebase 推送消息接收与处理服务-->
        <service android:name=".firebase.MLFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <!-- 设置多渠道打包的渠道名，ML_CHANNEL_ID 是渠道名占位符-->
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${ML_CHANNEL_ID}"/>
    </application>

</manifest>